#page-layout {
    width: 80vw;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

#top-bar {
    display: flex;
    height: 30px;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

#search-bar {
    width: 600px;
    height: 30px;
    font-size: large;
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 3px;
}

#create-user-button-text {
    display: flex;
    gap: 5px;
}

input {
    border: 1px solid #ccc;
}

.form-input {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.form-input input {
    border: 1px solid #ccc;
    border-radius: 2px;
    height: 30px;
}

.error {
    color: red;
    font-size: smaller;
    margin: 0;
    padding: 0;
    height: 20px;
}

.table-container {
    overflow-x: auto;
}

table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
    min-width: 600px;
}

td,
th {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 200px;
    padding: 12px 16px;
    border: 1px solid #ccc;
}

#sortable-header {
    cursor: pointer;
    user-select: none;
}

#sort-icon {
    font-size: 0.8em;
}

.icon {
    cursor: pointer;
}

#trash-icon {
    color: red;
}

.page-header {
    display: flex;
    align-items: center;
    gap: 20px;
}

#arrow-icon {
    font-size: x-large;
    cursor: pointer;
}
